.toolbar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7%;
  color: white;

}


a{
  color: aliceblue;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.mat-toolbar-single-row{
  padding: 0;
}

mat-toolbar{
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.mat-drawer-container {
  height: 100%;
  width: 100%;
}


.app{
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.flex-container{
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 20px;
}

.container {
    display: flex;
    justify-content: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

  .sidenav-content {
    display: flex;
    justify-content: center;
}

  .sidenav {
    padding: 20px;
    height: 100vh;
    position: fixed;
    border-radius: 0;
    
  .logo{
    display: flex;
    align-items: center;
  }
  
  ul{
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    gap: 12px
  }
}