<mat-card appearance="outlined">
    <table>
      <thead class="tableHeader">
        <tr>
          <th class="p-24">Name</th>
          <th>Email</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index" (click)="openUserDialog(i)" class="tableRow">
          <td mat-cell class="p-24">{{ user.firstname }} {{ user.lastname }}</td>
          <td mat-cell>{{ user.email }}</td>
          <td mat-cell>{{ user.city }}</td>
        </tr>
      </tbody>
    </table>
  </mat-card>
  
  <div class="addUser">
    <div class="button-container">
      <button (click)="openDialog()" mat-fab matTooltip="Add user" aria-label="Icon button with a Person icon">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

<!-- <mat-card appearance="outlined">
    <table>
        <thead class="tableHeader">
            <ng-container matColumnDef="position">
                <tr>
                    <th class="p-24">Name</th>
                    <th>Email</th>
                    <th>City</th>
                </tr>
            </ng-container>
        </thead>
        <tbody>
            @for (user of users; track $index) {
                <ng-container matColumnDef="position">
                    <tr (click)="openUserDialog($index)" class="tableRow">
                        <td mat-cell class="p-24">{{ user.firstname }} {{ user.lastname }}</td>
                        <td mat-cell>{{ user.email }}</td>
                        <td mat-cell>{{ user.city }}</td>
                    </tr>
                </ng-container>
            }
        </tbody>
    </table>
</mat-card>

<div class="addUser">
    <div class="button-container">
        <button (click)="openDialog()" mat-fab matTooltip="Add user" aria-label="Icon button with a Person icon">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div> -->