.user{
    height: 93%;
    padding: 12px;
    box-sizing: border-box;
}

.addUser{
    position: absolute;
    right: 56px;
    bottom: 56px;
}
table {
    width: 100%;
    thead{
        text-align: left;
        width: 100%;
    }
}