.container {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
  height: 100vh;
  position: fixed;
  border-radius: 0;
}

.label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.button-row {
  display: table-cell;
  max-width: 600px;
}

.mat-toolbar-single-row{
  padding: 0;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 8px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}